/*estilos generales*/
body{
    font-family:0 Arial, sans-serif; 
    margin: 0;
    padding: 0;
}
/*barra de navegacion*/
header{
    background-color: rgb(149, 241, 226);
    color: rgb(20, 19, 19);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;

}
nav a {
    text-decoration: none;
    color: white;
}
